h1 ,h2 , .h1{
    color: red;
}
h3{
    color: green;
    font-style: italic;
}
#italic{
    text-decoration: underline;
}


.text-space{
    letter-spacing: 5px;
    word-spacing: 5px;
   


}

ol,li{
    padding: 10px;
}

.p1{
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
}

.p2{
    
    font-size: small;
}